@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
html {
    font-size: 10px;
    text-align: center;
    height: 100%;
    font-family: 'Cormorant Garamond', serif;
}
header{
    position: fixed;
    width: 100%;
    background-color: #09172d;
    color: #FFFFFF;
    padding-top: 10px;
    top: 0;
}
nav {
    margin: 20px;
    font-size: 2rem;
}
h1, h2 {
    font-weight: bold;
}
h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 2rem;
    padding: 10px;
}
p{
    text-align: left;
    font-size: 2rem;
}
body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 115px 0 20px;
    position: relative;
    min-height: 100%;
    height: 100%;
    max-width = 1024px;
    width = 100%;
}
footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    background-color: #09172d;
    color: #FFF;
}
main {
    background-color: #fffdd3;
    margin: 0 auto;
    width: 50%;
    min-height: calc(100% - 145px);
    padding: 0 5px;
}
nav a {
    display: inline-block;
    padding: 0 10px;
}
nav a+a{
    border-left: 2px solid;
    border-color: #FFFFFF;
}
